<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= f.label :email %><br />
        <%= f.email_field :email, type: "email", class: "form-control", placeholder: "Email", id: "email" %>
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", type: "password",
                             class: 'form-control', placeholder: "Password", id: "password"%>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
              <%= f.label :remember_me %>
              <%= f.check_box :remember_me %>
    <% end -%>

    <div class="row">
      <div class="actions form-group col-xs-12">
        <%= f.submit "Sign in", type: 'submit', class: 'btn btn-default' %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
<% end %>
