
<h2> <%= @goal.name %> </h2>
<p style="word-wrap: break-word"> <%= @goal.content %> </p>
<p> Posted by <%= @goal.user.email %> <%= time_ago_in_words(@goal.created_at) %> ago </p>

<% if @user == @goal.user %>
    <%= link_to 'Delete', goal_path(@goal),
                method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
<% end %>
<%= link_to 'Back', goals_path, class: 'btn btn-default' %>

<% unless @goal.records.empty? %>
  <h3>Records:</h3>
  <ul>
    <% @goal.records.each do |r| %>
        <li>
          <%= r.content %> <br> <%= time_ago_in_words(r.created_at) %> ago <hr>
        </li>
    <% end %>
  </ul>
<% end %>

<% if @user == @goal.user %>
  <%= render 'records/form' %>
<% end %>